body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #3f3f3f;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: lighter;
  line-height: 0px;
  text-align: center;
  color: #101010;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: lighter;
  background-color: white;
  color: #236B8E;
  max-width: 350px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  border: 0.2px solid #236B8E;
}

#error-message{
  color: red;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
  font-weight: lighter;
}

form input {
  display: block;
  margin-bottom: 20px;
  line-height: 30px;
  width: 100%;
  border: 0.2px solid #A8A8A8;
}
form input[type=checkbox] {
  display: inline;
  width: auto;
}

.dashboard-form-style{
  display: inline;
  width: 300px;
}

#app {
  max-width: 700px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: #236B8E;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.button-danger{
  background-color: #8e2723;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.button:hover{
  background-color: white;
  color: #236B8E;
  border: 0.5px solid #236B8E;
}

.button-danger:hover{
  background-color: white;
  color: #8e2723;
  border: 0.5px solid #8e2723;
}

.submitButton{
  background-color: #236B8E;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  border: none;
  cursor: pointer;
  margin-left: 0px !important;
}

.hidden{
  display: none;
}

.itemsList{
  border: 2px solid #236B8E;
  border-radius: 10px;
  min-height: 80px;
}

.left-margin{
  margin-left: 10px;
}

.text-center{
  text-align: center;
}

.title{
  font-size: 18px;
  font-weight: lighter;
}

#index{
  text-align: center;
}


